@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}
h1 {
    font-size: 36px;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

a {
  text-decoration: none;
}


li {
    list-style: none;
}

.link__hover-effect:after {
    content: '';
    position:absolute;
    height: 3px;
    width: 0;
    bottom: -3px;
    right: 0;
    transition: all 0.3s ease;
}


.link__hover-effect--white:after {
    background-color: #ffffff;
}

.link__hover-effect--black:after {
    background-color: #000;
}

.link__hover-effect:hover:after {
    width: 100%;
    left: 0;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 12px;
}

.text--purple {
  color: #268210;
}

/* NAVIGATION BAR */

nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    text-decoration: none;
    color: #242424;
    font-weight: 700;
    margin: 0 12px;
    transition: color 0.3s ease;
}

.nav__link--anchor-primary {
    background-color: #268210;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
    background-color: #196508;
}

.personal__logo {
    font-size: 24px;
    font-weight: 700;
    color: #268210;
    margin: 0 12px;
}   

/* ABOUT ME SECTION */

#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me__info {
    display: flex;
    flex-direction: column;
}

.about-me__info--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.about-me__picture--mask{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 28px;
}

.about-me__picture {
    width: 100%;
    height: auto;
}

.about-me__info--title {
  margin-bottom: 16px;
}

.about-me__info--para {
  font-size: 20px;
  margin-bottom: 28px;
}

.about-me__link {
  font-size: 20px;
  color: #242424;
  padding: 0 16px;
}

.about-me__img--container {
  flex: 1;
  display: flex;
  align-items: center;
}

.about-me__img {
  width: 100%;
}
