@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

h1 {
    font-size: 36px;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

a {
    text-decoration: none;
    position: relative;
    transition: opacity 300ms ease;
}

a:hover {
    opacity: .7;
}

/*pseudo classes + elements*/

.link__hover-effect:after {
    content: "";
    position: absolute;
    height: 3px;
}


li {
    list-style: none;
}

i:hover {
    opacity: 0.7;
}

.link__hover-effect:after {
    content: '';
    position: absolute;
    height: 3px;
    width: 0;
    bottom: -3px;
    right: 0;
    transition: all 0.3s ease;
}


.link__hover-effect--white:after {
    background-color: #ffffff;
}

.link__hover-effect--black:after {
    background-color: #000;
}

.link__hover-effect:hover:after {
    width: 100%;
    left: 0;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.container {
    padding: 50px 0;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 12px;
}

.text--green {
    color: #268210;
}

section:nth-child(even) {
    background-color: #f8f8f8;
}

.section__title {
    margin-bottom: 20px;
}

/* NAVIGATION BAR */

nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    text-decoration: none;
    color: #242424;
    font-weight: 700;
    margin: 0 12px;
    transition: color 0.3s ease;
}

.nav__link--anchor-primary {
    background-color: #268210;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
    background-color: #196508;
}

.personal__logo {
    font-size: 24px;
    font-weight: 700;
    color: #268210;
    margin: 0 12px;
}

/* ABOUT ME SECTION */

#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me__info {
    display: flex;
    flex-direction: column;
}

.about-me__info--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.about-me__picture--mask {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 28px;
    animation: animate-profile-picture 0.9s .3s backwards;
}

@keyframes animate-profile-picture {
    0% {
        transform: scale(0);
    }

    80% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}


.about-me__picture {
    width: 100%;
    height: auto;
}



.about-me__info--title {
    margin-bottom: 16px;
    animation: fade-up 0.8s .5s backwards;
}

.about-me__info--para {
    font-size: 20px;
    margin-bottom: 28px;
    animation: fade-up 0.8s .7s backwards;
}

.about-me__links {
    animation: fade-up 0.8s .9s backwards;
}

.about-me__link {
    font-size: 20px;
    color: #242424;
    padding: 0 16px;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.about-me__img--container {
    flex: 1;
    display: flex;
    align-items: center;
}

.about-me__img {
    width: 100%;
    animation: fade-in 1200ms 800ms backwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.wave {
    display: inline-block;
    animation: animate-wave 500ms infinite ease-in-out;
}

@keyframes animate-wave {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(0);
    }
}

/* TECH - STACK */

.language__img {
    width: 100%;
    max-width: 100px;
    transition: all 0.3s ease;
}

.language:hover .language__img {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
}

.language {
    width: 25%;
    display: flex;
    justify-content: center;
    position: relative;
}

.language__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;
}

.language__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.language__name {
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 0.3s ease;
    font-size: 20px;
    opacity: 0;
}

.language:hover .language__name {
    transform: scale(1);
    opacity: 1;
}


/*PROJECTS SECTION */

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.project:last-child {
    margin-bottom: 40px;
}


.project__img {

    transition: all 0.3s ease;
    display: block;
    width: 100%;
    height: auto;
    max-width: 600px;
    margin: 0 auto;
}

.project__wrapper {
    display: flex;
    box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.project__wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.3 s ease;
    z-index: 2;
    transform: translateY(100%);
}

.project:hover .project__wrapper:before {
    opacity: 0.7;
    transform: translateY(0);
}

.project:hover .project__img {
    transform: scale(1.07);
    filter: blur(5px);
}

.project:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
}

.project__list {
    padding-top: 40px;
}

.project__description {
    position: absolute;
    top: 50%;
    padding: 0 20px;
    transform: translateY(-50%);
    max-width: 550px;
    z-index: 3;
    opacity: 0;
    transition: transform 450ms, opacity 300ms;
}

.project__description--title {
    font-size: 36px;
    font-weight: 700;
}

.project__description--para {
    margin: 16px 0;
}

.project__description--link {
    font-size: 20px;
    margin-right: 16px;
}

.project__description--title,
.project__description--sub-title,
.project__description--para,
.project__description--link {
    color: white;
    text-align: left;
    margin-bottom: 12px;
}

/* FOOTER */

footer {
    background-color: #196508;
}


.footer__social--list {
    width: 100%;
    max-width: 400px;
    ;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.footer_row {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 12px 0;
}

.footer__logo--img {
    width: 300px;
    height: auto;
    position: relative;
    margin-top: 50px;
}

.footer__social--link,
.copyright,
.footer_logo--popper {
    color: white;
}

.footer__logo--link {
    position: relative
}

.footer_logo--popper {
    position: absolute;
    display: flex;
    align-self: center;
    justify-self: center;
    right: 25%;
    font-size: 24px;
    top: 30px;
    font-weight: 700;
    opacity: 0;

}

.footer__logo--link:hover .footer_logo--popper {
    transform: translateY(-30px);
    opacity: 1;
}


/* Small devices */

@media (max-width: 768px) {
    nav {
        height: 68px;
    }

    h1 {
        font-size: 28px;
    }

    .about-me__info--para {
        font-size: 18px;
    }

    .language {
        width: calc(100% / 3);
    }

    .project__description--title {
        font-size: 28px;
    }
}

/* Extra small devices */

@media (max-width: 480px) {
    .nav__link:not(:last-child) {
        display: none;
    }

    .project__description {
        padding: 0;
        left: 0;
        width: 100%;
    }

    .project__description--para {
        display: none;
    }

    .project__description--links {
        display: flex;
        justify-content: center;
    }

    .project__description--title {
        line-height: 1;
        text-align: center;
    }

    .project__description--sub-title {
        text-align: center;
    }
}